<!DOCTYPE html>
<html lang="en">

<% include ./partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <h1 class="title">Burgare</h1>
    <div id="root">
      <% include ./partials/menu %>
        <div class="burgers">
          <div class="burgers__section">
            <h2 class="burgers__name">@Burger</h2>
            <div class="burgers__resturant-street">Storgatan 25</div>
            <img class="burgers__img" src="/images/burger1.JPG" alt="burger">
            <div class="burgers__rating burgers__rating--4">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
            </div>
            <div id="chart"></div>
          </div>
        </div>
    </div>
    <% include ./partials/footer %>
  </body>

</html>