<!DOCTYPE html>
<html lang="en">

<% include ./partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <h1 class="title">Burgare</h1>
    <div id="root">
      <% include ./partials/menu %>
        <div class="burgers">
          <div class="burgers__section">
            <h2 class="burgers__name">Double Cheese &amp; Bacon</h2>
            <div class="burgers__resturant">Tio Peppes</div>
            <img class="burgers__img" src="/images/burger1.jpg" alt="burger">
            <div class="burgers__rating">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
            </div>
          </div>
          <div class="burgers__section">
            <h2 class="burgers__name">Double Cheese</h2>
            <div class="burgers__resturant">Burger King</div>
            <img class="burgers__img" src="/images/burger2.jpg" alt="burger">
            <div class="burgers__rating">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
              <img src="/images/logo.svg" alt="logo">
            </div>
          </div>
        </div>
    </div>
    <% include ./partials/footer %>
  </body>

</html>