<!DOCTYPE html>
<html lang="en">

<% include ./partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <div id="root">
      <% include ./partials/menu %>
        <div class="section">
          <img class="section__image" src="/images/header.png" alt="brick wall with logo">
          <div class="section__image-text-container">
            <h2 class="section__title">BUK</h2>
            <p class="section__text">Ät hamburgare och umgås under lättsamma förhållanden</p>
          </div>
        </div>
        <div class="section">
          <img class="section__image" src="/images/2017-10-20-gubbar2.JPG" alt="members at table">
          <div class="section__image-text-container">
            <h2 class="section__title">BUK inkluderar</h2>
            <p class="section__text">
              <span class="bold-text">Alla är välkomna</span> oavsett ålder, kön, sexsuell läggning eller religion, dock finns det
              <span class="bold-text">några undantag</span>
            </p>
          </div>
        </div>
        <div class="section">
          <img class="section__image" src="/images/2017-10-20-burger1.JPG" alt="members at table">
          <div class="section__image-text-container">
            <h2 class="section__title">BUK äter kött</h2>
            <p class="section__text">
              Buk kan
              <span class="bold-text">aldrig</span> acceptera
              <span class="bold-text">vegetarianer</span> eller
              <span class="bold-text">veganer</span>
            </p>
          </div>
        </div>
        <div class="section">
          <img class="section__image" src="/images/men.jpg" alt="members at table">
          <div class="section__image-text-container">
            <h2 class="section__title">BUK står och kissar
            </h2>
            <p class="section__text">
              Under dessa svåra tider av jämställdhetsdebatter, genuspedagogik och könsneutrala pronomen är det inte utan viss stolthet
              att vi i Buk
              <span class="bold-text">inte accepterar</span> några hetronormativa
              <span class="bold-text">kvinnor</span>
            </p>
          </div>
        </div>
        <div class="section">
          <img class="section__image" src="/images/hands.jpg" alt="members at table">
          <div class="section__image-text-container">
            <h2 class="section__title">BUKS väl är mitt väl
            </h2>
            <p class="section__text">
              Häng med på vår nästa
              <a class="section__link" href="/meetups">träff</a> eller få tag på en av våra
              <a class="section__link" href="/members">medlemmar</a> så käkar vi ett par härliga
              <a class="section__link" href="/burgers">burgare</a> och snackar bort en kväll med ett gäng goa gubbar
            </p>
          </div>
        </div>
    </div>
    <% include ./partials/footer %>
  </body>

</html>