<!DOCTYPE html>
<html lang="en">

<% include ./partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <h1 class="title">Träffar</h1>
    <div id="root">
      <% include ./partials/menu %>
        <% include ./partials/schedule %>
    </div>
    <% include ./partials/footer %>
  </body>

</html>