<!DOCTYPE html>
<html lang="en">

<% include ./partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <h1 class="title">Medlemmar</h1>
    <div id="root">
      <% include ./partials/menu %>
        <div class="members">
          <div class="members__section">
            <h2 class="members__name">Daniel Dumkopf</h2>
            <div class="members__title">President</div>
            <img class="members__img" src="/images/danne.jpg" alt="old man">
          </div>
          <div class="members__section">
            <h2 class="members__name">Svullo Norén</h2>
            <div class="members__title">Vice President</div>
            <img class="members__img" src="/images/svullo.jpg" alt="old man">
          </div>
        </div>
    </div>
    <% include ./partials/footer %>
  </body>

</html>