<!DOCTYPE html>
<html lang="en">

<% include ./partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <h1 class="title">Medlemmar</h1>
    <div id="root">
      <% include ./partials/menu %>
        <div class="members">
          <div class="members__section" data-js="up">
            <h2 class="members__name">Daniel</h2>
            <div class="members__title">Buktalare</div>
          </div>
          <div class="members__section" data-js="up">
            <h2 class="members__name">Nicke Minag</h2>
            <div class="members__title">Vice Buktalare</div>
          </div>
          <div class="members__section fidde">
            <h2 class="members__name">Fidde</h2>
            <div class="members__title">&star; Chief Technical Officer &star;</div>
          </div>
          <div class="members__section" data-js="down">
            <h2 class="members__name">D Mossad</h2>
            <div class="members__title">Sgt at arms</div>
          </div>
          <div class="members__section" data-js="down">
            <h2 class="members__name">Tims Pappa</h2>
            <div class="members__title">Chief Toka</div>
          </div>
          <div class="members__section" data-js="down">
            <h2 class="members__name">Fru Allansson</h2>
            <div class="members__title">Svåger</div>
          </div>
          <div class="members__section" data-js="down">
            <h2 class="members__name">Kicki</h2>
            <div class="members__title">Svåger</div>
          </div>
        </div>
    </div>
    <% include ./partials/footer %>
  </body>

</html>