* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 :root {
  background: #323030;
  color: #fff;
  letter-spacing: 0.6px;
  font-family: 'Roboto', sans-serif;
}
#root {
  margin: 0 auto;
}
h1, h2 {
  letter-spacing: 1px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: none;
}
p {
  font-size: 18px;
  font-family: 'Roboto-Light', sans-serif;
}
button {
  background: none;
  border: none;
  outline-color: #2296D2;
}
ul {
  list-style: none;
}
.title {
  position: absolute;
  top: 16px;
  right: 16px;
}
.section__link {
  color: #2296D2;
  font-weight: bold;
}
.section__link:hover {
  text-decoration: underline;
}
.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 200ms ease-in-out;
  transform: translate3D(-100vw, 0, 0);
}
.menu__list {
  width: 240px;
  height: 100vh;
  background: #323030;
  color: #fff;
  float: left;
}
.menu__click-catcher {
  float: left;
  width: calc(100% - 240px);
  height: 100vh;
}
#menu-toggle {
  display: none;
}
#menu-toggle:checked+.menu {
  transform: translate3D(0, 0, 0);
}
.bold-text {
  font-weight: bold;
}
.section__image {
  width: 100%;
}
.section__title {
  text-align: center;
  margin-bottom: 4px;
}
.section__text {
  text-align: center;
  line-height: 21px;
}
.section__image-text-container {
  padding: 32px 16px;
  max-width: 500px;
  margin: 0 auto;
}
#menu-button {
  width: 44px;
  height: 44px;
  cursor: pointer;
  transform: rotate(-27deg);
  background: url(/images/logo.svg);
  position: absolute;
  top: 8px;
  left: 8px;
}
.menu__ul {
  padding: 16px 0 0 16px;
}
.menu__li {
  padding-bottom: 16px;
}
.menu__link {
  display: flex;
  align-items: center;
}
.menu__link-text-container {
  padding-left: 8px;
  color: #fff;
}
.menu__h2 {
  font-size: 18px;
}
.menu__img {
  width: 44px;
}
.menu__text {
  font-size: 14px;
  font-family: 'Roboto-Light', sans-serif;
}
.schedule {
  margin: 76px auto;
  border-collapse: collapse;
}
.schedule__td {
  padding: 8px;
  font-size: 14px;
}
.schedule__td:first-child {
  border-right: 1px solid #fff;
}
.schedule__h2 {
  font-size: 18px;
}
.schedule__text {
  font-size: 14px;
}
.rules__p {
  margin: 76px auto;
  max-width: 500px;
  font-size: 18px;
  padding: 0 16px;
}
.rules__img {
  margin: 0 auto;
  width: 88px;
  display: block;
}
.structure {
  margin: 76px auto;
}
.structure__h2 {
  padding-bottom: 8px;
  font-size: 18px;
}
.structure__text {
  font-size: 14px;
}
.structure__section {
  margin: 32px auto;
  max-width: 500px;
  padding: 0 16px;
}
.members {
  margin: 76px auto;
}
.members__name {
  padding-left: 16px;
  font-size: 18px;
}
.members__title {
  font-size: 14px;
  padding-left: 16px;
}
.members__img {
  padding: 16px 0 64px;
  width: 100%;
}
.burgers {
  margin: 76px auto;
}
.burgers__name {
  padding-left: 16px;
  font-size: 18px;
}
.burgers__resturant {
  font-size: 14px;
  padding-left: 16px;
}
.burgers__img {
  padding: 16px 0;
  width: 100%;
}
.burgers__rating {
  padding: 0 0 64px 16px;
}
