<input id="menu-toggle" data-js="menu-toggle" type="checkbox">
<aside class="menu" data-js="menu">
  <div class="menu__list">
    <ul class="menu__ul">
      <li class="menu__li">
        <a href="/meetups" class="menu__link">
        <img class="menu__img" src="/images/logo.svg" alt="logo">
        <div class="menu__link-text-container">
            <h2 class="menu__h2">Träffar</h2>
            <div class="menu__text">Tid &amp; Plats</div>
        </div>
      </a>
      </li>
      <li class="menu__li">
        <a href="/burgers" class="menu__link">
          <img class="menu__img" src="/images/logo.svg" alt="logo">
          <div class="menu__link-text-container">
              <h2 class="menu__h2">Burgare</h2>
              <div class="menu__text">Recensioner &amp; Bilder</div>
          </div>
        </a>
      </li>
      <li class="menu__li">
        <a href="/members" class="menu__link">
            <img class="menu__img" src="/images/logo.svg" alt="logo">
            <div class="menu__link-text-container">
                <h2 class="menu__h2">Medlemmar</h2>
                <div class="menu__text">Våra goa gubbar</div>
            </div>
          </a>
      </li>
      <li class="menu__li">
        <a href="/rules" class="menu__link">
            <img class="menu__img" src="/images/logo.svg" alt="logo">
            <div class="menu__link-text-container">
                <h2 class="menu__h2">Regler</h2>
                <div class="menu__text">Ja, vi har sånt också</div>
            </div>
          </a>
      </li>
      <li class="menu__li">
        <a href="/structure" class="menu__link">
            <img class="menu__img" src="/images/logo.svg" alt="logo">
            <div class="menu__link-text-container">
                <h2 class="menu__h2">Hierarki</h2>
                <div class="menu__text">Klättra inom BUK</div>
            </div>
          </a>
      </li>
    </ul>
  </div>
  <div class="menu__click-catcher" data-js="menu-click-catcher"></div>
</aside>