<table class="schedule">
  <tbody>
    <tr>
      <td class="schedule__td">12 Okt 18.00</td>
      <td class="schedule__td">
        <h2 class="schedule__h2">@Burger</h2>
        <div class="schedule__text">Storgatan 25</div>
      </td>
    </tr>
    <tr>
      <td class="schedule__td">2 Nov 18.00</td>
      <td class="schedule__td">
        <h2 class="schedule__h2">Burgersson</h2>
        <div class="schedule__text">Skanstorget 4</div>
      </td>
    </tr>
  </tbody>
</table>