<div class="structure">
  <div class="structure__section">
    <h2 class="structure__h2">President / Buktalare</h2>
    <p class="structure__text">Har huvudansvar för hela organisationen samt veto i alla frågor som rör organisationens planer samt utveckling.</p>
  </div>
  <div class="structure__section">
    <h2 class="structure__h2">Vice President</h2>
    <p class="structure__text">Ersätter presidenten i dennes frånvaro.</p>
  </div>
  <div class="structure__section">
    <h2 class="structure__h2">Sergeant At Arms</h2>
    <p class="structure__text">Utgör tillsammans med Presidenten samt Vice Presidenten själva kärnan i organisationen, deltar i planering samt utveckling
      av organisationen, han ansvarar även för utdelande av befordringar, utmärkelser samt eventuella bestraffningar.</p>
  </div>
  <div class="structure__section">
    <h2 class="structure__h2">Chief Toka</h2>
    <p class="structure__text">Utgör tillsammans med Presidenten, Vice Presidenten samt Sergeant At Arms själva kärnan i organisationen, deltar i planering
      samt utveckling av organisationen, han ansvarar även för säkerheten och riskanalys utav besöken BUK genomför i varje
      lokal.
    </p>
  </div>
  <div class="structure__section">
    <h2 class="structure__h2">Elit</h2>
    <p class="structure__text">(Svåger samt 25 burgarbesök) samma som goldmember fast högre status.
    </p>
  </div>
  <div class="structure__section">
    <h2 class="structure__h2">Goldmember</h2>
    <p class="structure__text">(Svåger samt 10 burgarbesök) får delta i beslut som rör uteslutningar av andra medlemmar samt kommer alltid att få vara
      delaktiga i beslut som gäller Buk.
    </p>
  </div>
  <div class="structure__section">
    <h2 class="structure__h2">Svåger</h2>
    <p class="structure__text">(Fullvärdig medlem) (accepterat Buks stadgar samt 3 burgarbesök) får vara med att fatta beslut om planerade burgarbesök
      samt andra ärenden i mån om närvaro, får även introducera nya Curly Fries. En Svåger förbinder sig att vid alla tillfällen
      bete sig på ett sådant sätt som han finner rimligt för den aktuella händelsen. I händelse av brott mot de egenhändigt
      ställda kraven kommer Svågern leverera en muntlig uppsträckning till sig själv snarast han finner det lämpligt
    </p>
  </div>
  <div class="structure__section">
    <h2 class="structure__h2">Curly Fries</h2>
    <p class="structure__text">(Mindre än 3 burgarbesök och/eller ej accepterat Buks stadgar) får delta i alla evenemang där de blir inbjudna, får ej
      vara delaktiga i besluttaganden ej heller introducera nya Curly Fries.
    </p>
  </div>
</div>