<div class="burgers__section">
  <h2 class="burgers__name">Tio pepe</h2>
  <div class="burgers__resturant-street">Södra Torggatan 1</div>
  <img data-js="load-on-scroll" class="burgers__img" data-src="/2018-01-11-burgare.webp" alt="burger">
  <img data-js="load-on-scroll" class="burgers__img" data-src="/2018-01-11-burgare2.webp" alt="burger">
  <img data-js="load-on-scroll" class="burgers__img" data-src="/2018-01-11-gubbar.webp" alt="men">
  <img data-js="load-on-scroll" class="burgers__img" data-src="/2018-01-11-gubbar2.webp" alt="men">
  <div class="burgers__rating burgers__rating--6">
    <img data-js="load-on-scroll" data-src="/logo.svg" alt="logo">
    <img data-js="load-on-scroll" data-src="/logo.svg" alt="logo">
    <img data-js="load-on-scroll" data-src="/logo.svg" alt="logo">
    <img data-js="load-on-scroll" data-src="/logo.svg" alt="logo">
    <img data-js="load-on-scroll" data-src="/logo_faded.svg" alt="logo">
    <img data-js="load-on-scroll" data-src="/logo_faded.svg" alt="logo">
  </div>
</div>
<div id="chart-tio-pepe"></div>
</div>