<!DOCTYPE html>
<html lang="en">

<% include ./src/views/partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <h1 class="title">Burgare</h1>
    <div id="root">
      <% include ./src/views/partials/menu %>
        <div class="burgers">
          <h1 class="resturants">Resturanger</h1>
          <div id="total"></div>
          <% include ./src/views/partials/@burger %>
            <% include ./src/views/partials/pig_and_whistle %>
              <% include ./src/views/partials/tio_pepe %>
                <% include ./src/views/partials/ester %>
                  <% include ./src/views/partials/burgersson %>
                    <% include ./src/views/partials/mr_doner %>
        </div>
    </div>
  </body>

</html>