<!DOCTYPE html>
<html lang="en">

<% include ./src/views/partials/header %>

  <body>
    <label id="menu-button" for="menu-toggle"></label>
    <h1 class="title">Medlemmar</h1>
    <div id="root">
      <% include ./src/views/partials/menu %>
        <div class="members">
          <div class="members__section">
            <h2 class="members__name">Daniel</h2>
            <div class="members__title">Buktalare</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">Nicke Minag</h2>
            <div class="members__title">Vice Buktalare</div>
          </div>
          <div class="members__section fidde">
            <h2 class="members__name">Fidde</h2>
            <div class="members__title">&star; Chief Technical Officer &star;</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">El Mojito</h2>
            <div class="members__title">Sgt at arms</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">Tims Pappa</h2>
            <div class="members__title">Chief Toka</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">H-Allansson</h2>
            <div class="members__title">Sv책ger</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">Kicki</h2>
            <div class="members__title">Sv책ger</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">PG</h2>
            <div class="members__title">Sv책ger</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">Biffen</h2>
            <div class="members__title">Sv책ger</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">Roger B</h2>
            <div class="members__title">Curly Fries</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">Mats Mighty</h2>
            <div class="members__title">Curly Fries</div>
          </div>
          <div class="members__section">
            <h2 class="members__name">Fredrik</h2>
            <div class="members__title">Curly Fries</div>
          </div>
        </div>
    </div>
  </body>

</html>